<%- include('./includes/head' , {pageTitle :"An error occurred"})%>
<link rel="stylesheet" href="/style/base.css">


</head>
<body>
<%- include('./includes/header') %>

<main>
<h1>Not authorized</h1>
<p>Unfortunately, you are not authorized to view this page.</p>
<p><a href="/">Go back to the homepage</a></p>
</main>

<%- include('./includes/footer') %>
