<%- include('./includes/head' , {pageTitle :"An error occurred"})%>
<link rel="stylesheet" href="/style/base.css">


</head>
<body>
<%- include('./includes/header') %>

<main>
<h1>something went wrong</h1>
<p>Sorry, an error occurred while processing your request.</p>
<p><a href="/">Go back to the homepage</a></p>
</main>

<%- include('./includes/footer') %>
