<%- include('../../shared/includes/head' , {pageTitle :"all products"})%>


</head>
<body>
<%- include('../../shared/includes/header') %>

<main>
<h1>all products</h1>

</main>

<%- include('../../shared/includes/footer') %>
