<%- include('../../shared/includes/head' , {pageTitle :"all products"})%>


</head>
<body>
<%- include('../../shared/includes/header') %>

<main>
<h1>product administration</h1>
<section>
<h2>Manage products</h2>
<p>
    <a href="/admin/products/new" class="btn">Create New Product</a>
</p>
</section>
<section>
<p>Manage all products from this page.</p>
</section>

</main>

<%- include('../../shared/includes/footer') %>
