<%- include('../../shared/includes/head' , {pageTitle :"new products"})%>
<link rel="stylesheet" href="/style/form.css">
<script src="/scripts/image-preview.js" defer> </script>
</head>
<body>
<%- include('../../shared/includes/header') %>

<main>
<h1>add new product</h1>
<%- include('includes/product-form', { submitPath: "/admin/products" , product: {
    title: '',
    summary: '',
    price: 0,
    description: '',
    image: ''
}, imageRequired: true }) %>
</main>

<%- include('../../shared/includes/footer') %>
